{% extends 'base.html' %}
{% block title %}
  Market Page
{% endblock %}

{% block content %}
      <table class="table table-hover table-dark">
        <thead>
            <h1>
                Thank you for your purchase of {{ ProdName }}, items remaining in stock: {{ data }}.
            </h1>
            <p>
                <a href="/market"><button class="btn btn-outline btn-success">Back to Market</button></a>
            </p>
            <!-- <tr>
               
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
            </tr> -->
        </thead>
        <!-- <tbody>
            
            {% for item in items %}
                <tr>
                    <td>{{ item['ProdID'] }}</td>
                    <td>{{ item['ProdName'] }}</td>
                    <td>{{ item['ProdPrice'] }} €</td>
                    <td>{{ item['ProdStock'] }}</td>
                    <td>                       
                        <a href="/market/"><button class="btn btn-outline btn-success">Back to Market</button></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody> -->
    </table>
{% endblock %}




<!-- 
                        <button class="btn btn-outline btn-success"><a href="/market/purchase/{{ item['ProdCat'] }}/{{ item['ProdName'] }}">Purchase this Item</a></button>
                        <button class="btn btn-outline btn-success" type="submit" onclick="/market/purchase/{{ item['ProdCat'] }}/{{ item['ProdName'] }}">Purchase this Item</button>
<button type="submit" onclick='{{Flask.redirect(url_for(purchase_page))}}' value="Purchase this item"></button>
                        <button class="btn btn-outline btn-success"><a href='/market/purchase/%s/%s' % (item['ProdCat'], item['ProdName'])>Purchase this Item</a></button>
<button class="btn btn-outline btn-success" type="submit" onclick=''>Purchase this Item</button>

<form action="{{ url_for('app.login') }}"></form>

<a href="{{url_for(app.login)}}" >Login</a>
<a href='https://8j55p9z8kf.execute-api.ap-southeast-2.amazonaws.com/dev/library/{try_id}'> Save to favourites!</a>
 -->


<!-- {
    "Items": [
    {
    "AccountID": "5432",
    "Email": "milla.mallikas@jokuemail.com",
    "SortKey": "5432",
    "Name": "Milla Mallikas"
    },
    {
    "AccountID": "5432",
    "SortKey": "Order#1002",
    "OrderID": "1002"
    },
    {
    "AccountID": "1234",
    "Email": "tauno.tietokanta@example.com",
    "SortKey": "1234",
    "Name": "Tauno Tietokanta"
    },
    {
    "AccountID": "1234",
    "SortKey": "Order#1001",
    "OrderID": "1001",
    "ItemID": "10001"
    }
    ],
    "Count": 4,
    "ScannedCount": 4,
    "ResponseMetadata": {
    "HTTPHeaders": {
    "date": "Wed, 14 Dec 2022 09:10:17 GMT",
    "server": "Server",
    "content-length": "471",
    "x-amzn-requestid": "7VUAQNHC323LHR43BBIMOFCOAJVV4KQNSO5AEMVJF66Q9ASUAAJG",
    "content-type": "application/x-amz-json-1.0",
    "connection": "keep-alive",
    "x-amz-crc32": "1824570851"
    },
    "RequestId": "7VUAQNHC323LHR43BBIMOFCOAJVV4KQNSO5AEMVJF66Q9ASUAAJG",
    "HTTPStatusCode": 200,
    "RetryAttempts": 0
    }
    } -->