{% extends 'base.html' %}
{% block title %}
  Market Page
{% endblock %}

{% block content %}
      <table class="table table-hover table-dark">
        <thead>
            <h1>
                Thank you for your purchase of {{ ProdName }}, items remaining in stock: {{ data }}.
                <br>
                Order number: {{ OrderNumber }}
                <br>
            </h1>
            <p>
                <a href="/market"><button class="btn btn-outline btn-success">Back to Market</button></a>
            </p>
        </thead>
    </table>
{% endblock %}

